@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'PT Sans', sans-serif;
}

h1 {
    padding: 10px;
}

header {
    color: white;
    background-color: black;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav li {
    padding: 10px;
    background-color:brown;
}

nav li:hover {
    background-color: rgb(114, 114, 114);
}

nav>a {
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
}

img {
    float: left;
}

section * {
    padding: 10px;
}

#pdf {
    display: flex;
    justify-content: center;
}

embed {
    width: 90%;
    height: 100vh;
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}